.headerMain {
  background-color: rgb(232, 201, 247);
  height: 460px;
}

.headerSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  height: 250px;
  width: auto;
  cursor: pointer;
  margin-top: -85px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: -85px !important;
}
.btnEmployer_Link {
  margin-top: 15px;
}
.search {
  display: flex;
  justify-content: center;
  margin-top: -60px;
}
.search_bar {
  display: flex;
}

.search_box {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px;
}

.search_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  color: #aaa;
}

.search_button {
  padding: 10px 20px;
  background-color: rgb(110, 0, 190);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: black;
}
.iconbox {
  font-size: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  color: rgb(51, 51, 51);
}
.iconWrapper {
  display: flex;
  align-items: center;
}
.search_box input {
  padding-left: 55px;
  font-size: 16px;
  width: 250px;
  height: 20px;
  cursor: pointer;
}
.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.successMessage {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 5px;
  animation: fadeOut 5s ease-in-out;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.employersLink {
  text-decoration: none;
}

/* .btnLogin,
.btnRegister,
.btnEmployersLogin {
  color: rgb(17, 16, 16) !important;
  cursor: pointer !important;
}
.btnEmployersLogin{
  
.btnLogin:hover,
.btnRegister:hover,
.btnEmployersLogin:hover {
  color: rgb(110, 0, 190);
  border-bottom: 1.8px solid rgb(110, 0, 190);
} */

/* .btnRegister {
  color: rgb(240, 34, 69);
} */
